page-index {

    .div-border {
    border-radius: 25px;
    background: #488aff;
    padding: 20px; 
    width: 120px;
    height: 120px;
    box-shadow: 5px 5px 2px #888888;
    }

    .back {
        height: 70vh !important;
        width: auto !important;
        margin: auto !important;
        display: block !important;
    }

    .back-imagem {
        background-image: url(/assets/img/money.png);

        

    }

}
